[user]
  name = Kenneth Williams
  email = scriptdaemon@gmail.com
  signingkey = 3E0C90A9FCFE779E

[credential]
  helper = store

[gpg]
  program = gpg2

[pretty]
  custom = %Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%aN>%Creset

[commit]
  gpgsign = true
  verbose = true

[fetch]
  prune = true

[pull]
  rebase = true

[alias]
  # Branch
  br = branch -avv                                                       # Branch
  brd = branch -D                                                        # Branch delete

  # Checkout
  co = checkout                                                          # Checkout
  com = checkout master                                                  # Checkout master
  con = checkout -b                                                      # Checkout new
  coo = checkout --orphan                                                # Checkout orphan

  # Clean
  nk = !git clean -df && git submodule foreach git clean -df             # Nuke
  nka = !git clean -dfx && git submodule foreach git clean -dfx          # Nuke all

  # Commit
  ci = commit                                                            # Commit
  cia = commit -a                                                        # Commit all
  ciada = !git add -A && git commit                                      # Commit add all
  ciadi = !git add -i && git commit                                      # Commit add interactive
  cii = commit -m 'Initial commit' --allow-empty                         # Commit initial
  am = commit --amend                                                    # Amend
  ama = commit -a --amend                                                # Amend all
  amada = !git add -A && git commit --amend                              # Amend add all
  amadi = !git add -i && git commit --amend                              # Amend add interactive

  # Diff
  df = diff                                                              # Diff
  dfb = diff master...HEAD                                               # Diff branch
  dfs = diff --staged                                                    # Diff staged

  # Log
  lg = log --stat                                                        # Log
  lgg = log --graph --pretty=custom                                      # Log graph

  # Merge
  mg = merge --ff-only                                                   # Merge

  # Pull
  pl = pull                                                              # Pull
  plo = pull origin HEAD                                                 # Pull 'origin'
  plu = pull upstream HEAD                                               # Pull 'upstream'

  # Push
  ps = push                                                              # Push
  pso = push origin HEAD                                                 # Push 'origin'
  psu = push upstream HEAD                                               # Push 'upstream'

  # Rebase
  rb = rebase                                                            # Rebase
  rba = rebase --abort                                                   # Rebase abort
  rbc = rebase --continue                                                # Rebase continue
  rbi = rebase -i                                                        # Rebase interactive
  rbs = rebase --skip                                                    # Rebase skip
  rd = rebase -i @{u}                                                    # Ready

  # Remote
  rt = remote -v                                                         # Remote
  rta = remote add                                                       # Remote add
  rtd = remote remove                                                    # Remote delete

  # Reset
  rs = reset                                                             # Reset
  rsc = reset --soft HEAD^                                               # Reset commit
  rss = reset HEAD                                                       # Reset staged
  wp = !git add -A && git commit -qm '[wiped]' && git reset --hard HEAD^ # Wipe

  # Stash
  sh = stash                                                             # Stash
  sha = stash apply                                                      # Stash apply
  shb = stash branch                                                     # Stash branch
  shd = stash drop                                                       # Stash delete
  shl = stash list                                                       # Stash list
  shs = stash show -p                                                    # Stash show
  shu = "!f() { git stash show -p $@ | git apply -R }; f"                # Stash unapply
  ss = !git stash save "snapshot: $(date)" && git stash apply stash@{0}  # Snapshot
  ssl = stash list --grep=snapshot                                       # Snapshot list

  # Status
  st = status -bs                                                        # Status

[url "https://github.com/"]
  insteadOf = gh:
  insteadOf = github:

[url "https://gist.github.com/"]
  insteadOf = gist:
